<div class="cta">
	<pre role="scrolling-text-cta">Free Shipping		Free Shipping		Free Shipping		Free Shipping		Free Shipping		Free Shipping		Free Shipping		Free Shipping		Free Shipping		Free Shipping		</pre>
	</div>