{% for article in articles %}
	<div class="products__card">
	<div class="square">
		<span class="l1"></span>
		<span class="l2"></span>
		<span class="l3"></span>
		<span class="l4"></span>
	</div>
		<div class="card__img">
		<img src="https://images.unsplash.com/photo-1565656898731-61d5df85f9a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="photo de disquette">
		</div>
		<div class="card__content">
			<div class="content__title">
				<a href="/article?id={{ article.id }}">{{ article.name }}</a>
			</div>
			<ul class="content__description">
				<li class="content__price">{{ article.price }}
					$</li>
				<li class="content__add add">
					<span>
						<i class="fa-sharp fa-solid fa-plus"></i>
					</span>
				</li>
			</ul>
		</div>
	</div>
{% endfor %}
