<nav class="navbar">
    <div class="navbar__logo">Inserer un Logo</div>
    <div class="navbar__username">{{ username }}</div>
    <ul class="navbar__icons">
        <li class="navbar__item"><a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a></li>
        <li class="navbar__item"><a href="/logout"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a></li>
    </ul>
</nav>