{% extends 'base.html.twig' %}
{% block main %}
	<div class="homepage">
		{% include './components/navigation.html.twig' %}
		{% include './components/cta.html.twig' %}


		<div class="homepage__title">SHOP THE COLLECTION</div>
		<div class="homepage__sort">
			<ul class="homepage__sort__list">
				<li>SORT</li>
				<li>
					<i class="fa-solid fa-plus"></i>
				</li>
			</ul>
		</div>
		<div class="homepage__filter">
			<ul class="homepage__filter__list">
				<li>FILTER</li>
				<li>
					<i class="fa-solid fa-plus"></i>
				</li>
			</ul>
		</div>
		<div class="products">
			<div class="products__card">
				<div class="card__img">
					<img src="./resources/assets/switch.png" alt="Switch logo">
				</div>
				<div class="card__content">
					<div class="content__title">
						<a href="/product">Nom du produit</a>
					</div>
					<ul class="content__description">
						<li class="content__price">Prix $</li>
						<li class="content__add">
							<a href="/kart">
								<i class="fa-sharp fa-solid fa-plus"></i>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="products__card">
				<div class="card__img">
					<img src="./resources/assets/switch.png" alt="Switch logo">
				</div>
				<div class="card__content">
					<div class="content__title">
						<a href="/product">Nom du produit</a>
					</div>
					<ul class="content__description">
						<li class="content__price">Prix $</li>
						<li class="content__add">
							<a href="/kart">
								<i class="fa-sharp fa-solid fa-plus"></i>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="products__card">
				<div class="card__img">
					<img src="./resources/assets/switch.png" alt="Switch logo">
				</div>
				<div class="card__content">
					<div class="content__title">
						<a href="/product">Nom du produit</a>
					</div>
					<ul class="content__description">
						<li class="content__price">Prix $</li>
						<li class="content__add">
							<a href="/kart">
								<i class="fa-sharp fa-solid fa-plus"></i>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="products__card">
				<div class="card__img">
					<img src="./resources/assets/switch.png" alt="Switch logo">
				</div>
				<div class="card__content">
					<div class="content__title">
						<a href="/product">Nom du produit</a>
					</div>
					<ul class="content__description">
						<li class="content__price">Prix $</li>
						<li class="content__add">
							<a href="/kart">
								<i class="fa-sharp fa-solid fa-plus"></i>
							</a>
						</li>
					</ul>

				</div>
			</div>
			

		</div>

	</div>
{% endblock %}
