{% extends 'base.html.twig' %}
{% block main %}
	<div class="homepage">
		{% include './components/navigation.html.twig' %}
		{% include './components/cta.html.twig' %}

		<div class="homepage__title">SHOP THE COLLECTION</div>
		<div class="homepage__sort">
			<div class="homepage__sort__border">
				<span class="sort__border-top"></span>
				<span class="sort__border-bottom"></span>
			</div>
			<ul class="homepage__sort__list">
				<li>SORT</li>
				<li>
					<i class="fa-solid fa-plus"></i>
				</li>
			</ul>
		</div>
		<div class="homepage__filter">
			<div class="homepage__filter__border">
				<span class="filter__border-bottom"></span>
			</div>
			<ul class="homepage__filter__list">
				<li>FILTER</li>
				<li>
					<i class="fa-solid fa-plus"></i>
				</li>
			</ul>
		</div>
		<div class="products">
			{% include './components/list.html.twig' %}
		</div>
		<div class="footer">
			<a class="{% if page == 1 %} hidden {% endif %}" href="?page={{ page - 1 }}">Previous</a>
			<a class="{% if page == pages %} hidden {% endif %}" href="?page={{ page + 1 }}">Next</a>
		</div>

	</div>
{% endblock %}
