{% extends 'base.html.twig' %}
{% block main %}
	{% include './components/navigation.html.twig' %}
	{% include './components/cta.html.twig' %}


	<div>
		<p>Salut les amis c'est la page produit</p>
	</div>

{% endblock %}
