.navbar {
    height: 70px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

.navbar__logo {
    font-size: clamp(24px, 2vw, 48px);
    text-decoration: none;
    color: #000;
}
.navbar__username {
    font-size: clamp(20px, 2vw, 36px);
    transform: translateX(-50%);
}
.navbar__icons {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
    font-size: clamp(16px, 2vw, 28px);
}
.navbar__item > * {
    color: #000;
}
#cart-js {
    position: relative;
}

.cart-quantity {
    position: absolute;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
    color: #000;
    background: #bdeb2e;
    font-size: 16px;
    border-radius: 50%;
    transform: translate(40%, -170%);
    border: 2px solid #000;
}